.rbc-calendar{
  min-height: 700px !important;
}
.rbc-event {
  z-index: 999 !important;
}

.form-form {
  background-color: rgb(0, 0, 0);
  color:  rgb(255, 255, 255);
  width: 40%;
  margin: auto;
  padding: 50px 70px;  
  border-radius: 15px;
  box-shadow: 10px 10px 5px #afabac;
  margin-top: 120px;
  margin-bottom: 100px;
}

@media screen and (max-width:800px) {
  .form-form {
    width: 80%;
  }
}

@media screen and (max-width:400px) {
  .form-form {
    width: 100%;
  }
}

.form-heading{
  color: #bd6170;
}

.form-form .create-account{
  align-items: center;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  background-color: #bd6170;
  border: none;
  margin-top: 15px;
}

.form-form .create-account:hover{
  align-items: center;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  background-color: #833945;
  color: aliceblue;
  border: none;
  margin-top: 15px;
}